name: Backend

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2

    - name: Build
      working-directory: ./backend
      run: ./gradlew build

    - name: Validate formatting and linting
      working-directory: ./backend
      run: ./scripts/lint-and-format.sh --validate

    - name: Run sanity check
      working-directory: ./backend
      run: ./gradlew runSanity
